:root {
    --python-color:  #C1E1DC;   /*  Baby Blue   */
    --js-color:      #FFCCAC;   /*  Peach       */
    --java-color:    #FFEB94;   /*  Butter      */
    --cSharp-color:  #258039;   /*  Avocado     */
    --cpp-color:     #ED5752;   /*  Raspberry   */
}

body {
    font-family: 'Open Sans', sans-serif;
}

.font-pf {
    font-family: 'Playfair Display', serif;
}

ul {
    list-style-position: inside;
    padding-left: 5px;
}

.navbar {
    background-color: transparent !important;
    border: none;
    padding: 1rem;
    color: #f0f0f0;
    transition: background-color 1s ease 0s;
}

.nav-link {
    text-transform: uppercase;
}

.navbar.solid {
    background-color: #434242 !important;
    transition: background-color 1s ease 0s;
    box-shadow: 0 0 4px grey;
    color: #C57ED3 !important;
    transition: color 1s ease 0s;
}

#section-home h1 {
    padding-top: 25vh;
    padding-bottom: 3vh;
    border-bottom: 1px solid #FFFFFF;
    border-bottom-color: rgba(255,255,255,0.35);
    display: inline-block;
}

#section-home p {
    padding: 1vh 3vh;
}

#section-home {
    color: #f0f0f0;
    background-image: url(../img/bg.jpg);
    background-repeat: no-no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.jumbotron {
    margin-bottom:0;
    border-radius: 0 !important;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

#recent_pic {
    border-radius: 50%;
}

.card-text {
    min-height: 40px;
}

@media screen and (max-width: 1195px) {
    .card-text {
        min-height: 50px;
    }
}

.row {
    padding: 20px 0px;
}

.header {
    padding: 20px 0px 10px 0px;
}

.col-project {
    padding: 10px;
}

.language-circle {
    position: relative;
    top: 2px;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

@media screen and (min-width: 576px) {
    .fa-github, .fa-linkedin, .fa-google {
        padding-right: 10px;
    }
)
