:root {
    --python-color:  #C1E1DC;   /*  Baby Blue   */
    --js-color:      #FFCCAC;   /*  Peach       */
    --java-color:    #FFEB94;   /*  Butter      */
    --cSharp-color:  #258039;   /*  Avocado     */
    --cpp-color:     #ED5752;   /*  Raspberry   */
}

.navbar {

}

@media (min-width: @screen-md-min){
    .navbar {

    }
}

.navbar-toggler {
    border: none;
}

.nav-link {
    text-transform: uppercase;
}

.cover{
    background-image: url(../img/bg_crop.jpg);
    background-repeat: no-no-repeat;

}

.jumbotron {
    margin-bottom:0;
}

.col-project {
    padding: 15px;
}

.language-circle {
    position: relative;
    top: 2px;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%
}
