:root {
    --python-color:  #C1E1DC;   /*  Baby Blue   */
    --js-color:      #FFCCAC;   /*  Peach       */
    --java-color:    #FFEB94;   /*  Butter      */
    --cSharp-color:  #258039;   /*  Avocado     */
    --cpp-color:     #ED5752;   /*  Raspberry   */
  }
  
  @font-face {
  font-family: wild-font;
  src: url(./font/somethingwild-Regular.otf);
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
  }
  
  .font-wd {
    font-family: wild-font, serif;
  }
  
  .font-pf {
    font-family: 'Playfair Display', serif;
  }
  
  ul {
    list-style-position: outside;
    padding-left: 1.4rem;
  }
  
  .jumbotron {
    margin-bottom:0 !important;
    border-radius: 0 !important;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  
  #recent_pic {
    border-radius: 50%;
  }
  
  .item {
    padding: 1rem 0rem;
  }
  
  .header, .period, .metainfo {
    padding-bottom: 0.5rem;
  }
  
  .col-project {
    padding: 1rem;
  }
  
  .card-text {
    min-height: 75px;
  }
  
  @media screen and (min-width: 576px) {
    .card-text {
        min-height: 60px;
    }
  }
  
  @media screen and (min-width: 768px) {
    .card-text {
        min-height: 50px;
    }
  }
  
  .font-sm, .font-sm .btn {
    font-size: 14px;
  }
  
  .language-circle {
    position: relative;
    top: 3px;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
  }
  
  .fa-github, .fa-linkedin, .fa-google {
    padding: 10px;
  }
  